.page-wrapper {
	padding-top: 20px;
}
.container {
	max-width: 1040px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0 auto;
	&.for-canvas {
		max-width: 512px;
		perspective: 1000px;
	}
}
.canvaswrapper {
	position: relative;
	height: 0;
	padding-top: 80%;
}
#memeGenerator {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgba(#fff, .5);
}
.canvas-container {
	position: absolute !important;
	top: 0;
	left: 0;
	.upper-canvas  {
		z-index: 3;
	}
}

// UI
.ui {
	display: flex;
	justify-content: center;
	position: relative;
	&__canvas {
		max-width: 512px;
		width: 100%;
	}
	&__controls {
		position: absolute;
		top: 0;
		right: -20px;
		visibility: hidden;
		transition: .3s ease .15s;
		transform: translateX(200%);
		.app.has-input & {
			visibility: visible;
			opacity: 1;
			transform: translateX(100%);
		}
		.controls__button[ui-control-sticker]{
			color: #ff2f2f;
			transition: .2s ease;
			i {
				transition: .25s cubic-bezier(0.19, 1.04, 0.74, 1.2) transform;
			}
			&:hover {
				color: white;
				background-color: #ff2f2f;
				i {
					transform: scale(1.1);
				}
			}
		}
		.showing-stickers {
			.controls__button[ui-control-sticker]{
				color: white;
				background-color: #ff2f2f;
			}
			.controls__button[ui-control-sticker] i {
				transform: scale(1.1);
			}
		}
	}
}
.showing-stickers {
	perspective: 1000px;
}
.controls__stickers {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 4px;
	left: calc(100% + 8px);
	transform: translateX(-16px) rotateY(25deg) rotateZ(-2deg);
	transform-origin: 0 0;
	transition: .25s ease;
	.showing-stickers & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0px) rotateY(0deg);
	}	
}